# Исключаем директории и файлы, которые не нужны в контейнере
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log

# Игнорируем виртуальные окружения
venv/
.env/

# Исключаем данные для сборки Docker
.dockerignore
Dockerfile

# Исключаем папку с тестами (если они есть)
tests/

# Исключаем временные и неважные файлы
*.bak
*.swp
*.tmp
*.idea/
*.vscode/
*.coverage

# Игнорируем все файлы в корневой директории, если они не нужны
!requirements/
!src/

# Исключаем другие скрытые файлы и директории
.git/
.gitlab-ci.yml
*.iml
